PORT=8080
ENV=dev

JWT_SECRET_KEY=erp-mini-secret-2025
JWT_ISSUER=erp-mini-server-01
JWT_AUDIENCE=erp-mini-client-01
JWT_ALGORITHM=HS256
JWT_EXPIRY=360h
JWT_REFRESH=720h

DB_DSN=postgresql://user:password@localhost:5432/dbname
DB_DSN_DEV=postgresql://user:password@localhost:5432/dbname